<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Running Shoe Rotation</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Running Shoe Rotation</h1>
        </header>
        <nav>
            <a href="Rotation">Rotation</a>
            <a href="Benefits">Benefits</a>
            <a href="Types">Types of Shoes</a>
        </nav>
        <main>
           <h1>Run like the devil!</h1>
            <h2>What is a running shoe rotation?</h2>
            <p>A running shoe rotation is essential for all runners who are serious about 
               remaining injury-free, saving money in the "long run," and increasing the
               life of their shoes.</p>
            <h2>What shoes do I need in a running shoe rotation?</h2>
            <img src="shoes.jpg" alt="Running shoes" style="width: 50%;">
            <p>A typical running shoe rotation includes a daily trainer, a tempo shoe,
               a long run/recovery shoe, and a racer. Daily trainers are for your
               normal everyday runs — the Nike Pegasus line is a good example of a daily trainer.
               Tempo shoes are for speed workouts such as threshold runs or sprints.
               Recovery shoes should have a max cushion setup that goes easy on the muscles in your
               feet and legs. They still help you get miles in without being too hard on yourself.
               Race day shoes are ones you wear for — you guessed it — race day. They usually have a
               good cushioning setup, reactive foam, and a carbon fiber plate for efficient energy return.
            </p>
            <h2>What are the benefits of having a shoe rotation?</h2>
            <p>Different shoes work different muscles in your feet and legs. Having a rotation ensures
               certain muscles or muscle groups aren't overtrained or neglected. It also gives time for 
               the foam in the sole of the shoe to decompress. Using the same shoe every day wears out the foam a lot faster,
               killing the longevity of the shoe.</p>
        </main>
        <footer>
            <p>&copy; Jonah Crandall 2025</p>
        </footer>
    </div>
</body>
</html>